@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.bg--landing {
	background-image: url("/images/hero.png");
	height: calc(100vh - 80px);
}

.women--landing {
	background-image: url("/images/womenCategory.png");
	height: calc(100vh - 80px);
}

.men--landing {
	background-image: url("/images/menCategory.png");
	height: calc(100vh - 80px);
}

.available--space {
	height: calc(100vh - 80px);
}

.home--content {
	width: calc(100vw - 4rem);
}

.box--top {
	height: calc(((100vh - 120px) / 2));
}
.box--bottom {
	height: calc(((100vh - 120px) / 2));
}
.dynamic--box--top {
	height: calc((100vh - 120px) / 4);
}
.dynamic--box--bottom {
	height: calc((100vh - 120px) / 4);
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 1rem;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination{
    position: relative !important;
    padding-top: 2rem;
}

.swiper-pagination-bullet-active  {
    background-color: #8B4513 !important;
}

.product--img--hover:hover {
    transform: scale(1.1);
    transition-duration: 1000;
}
.productview--img--hover:hover {
    transform: scale(1.025);
    transition-duration: 1000;
}

@media screen and (min-width: 768px) {
	.home--content {
		width: calc(100vw - 6rem);
	}
}
